# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo
build/
.vite/

# generated
packages/server/generated/
packages/server/prisma/dev.db
packages/server/prisma/dev.db-journal
*.sqlite
*.sqlite-journal

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# test coverage
coverage/

# husky internal
.husky/_
